<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<style>
    #barra{
        margin:0;
        padding:0;
        list-style:none;
        text-transform:uppercase;
        background-color:black;
        padding:10px;
    }

    #barra li{
        display:inline;
        margin:0 20px;
        color:white;
    }
</style>
<body>
    <ul id="barra">
        <li>Home</li>
        <li>Services</li>
        <li>About us</li>
        <li>Contact us</li>
        <li>About of</li>
    </ul>
</body>
</html>